
<html>
	<head>
	</head>

		<body>

			<nav>
			</nav>	
				
		<section class="home">
			<p class="intro">My name is Rebecca Nguyen. I am a programmer living in Park City, UT and I am currently available for opportunities to level up my web development skills. You can find me on: 
			</p>
		</section>

		<section class="blog">
		</section>

		<section class="projects">
		</section>

		<section class="tools">
		</section>

		<section class="contact_me">
		</section>




		</body>

</html>